/* Below is css of toilanvd */
@charset "utf-8";

.body_class{
    position:relative;
    background:#e8e8e8;
}

.all_login{
    position:relative;
    top:50px;
    width:600px;
    margin:auto;
    font-family:Liberation Sans;
    /* background:url(../images/logo.jpg) center 8px; */
}

.userbox{
    position:relative;
    width:600px;
    height:200px;
    margin:auto;
    background:white;
    border-radius: 10px; 
    font-size:11pt;
    /*box-shadow*/
}

.logo{
    position:relative;
    width:200px;
    float:left;
    top:25px;
    border-right:1px solid #e9e9e9;
}

img[name="logo"]{
    position:relative;
    width:150px;
    height:150px;
    display: block;
    margin:auto;
}

.user_enter{
    position:absolute;
    width:300px;
    float:right;
    top:25px;
    right:50px;
}

.typing_box{
    position:relative;
    padding:5px 65px;
    padding-left:5px;
}

.input_div{
    position:relative;
    padding-top:3px;
    margin:auto;
    color:black;
}

input[name="login_options"] {
    position:relative;
    margin-left:0;
}

a{
    text-decoration:none;
    color:black;
}

.login_button{
    position:relative;
    top:5px;
    width:78px;
    margin:auto;
}

input[name="login_button"] {
    position:relative;
    padding:5px 15px; 
    background:blue; 
    border:1px solid;
    border-radius: 5px; 
    color:white;
    font-size:14pt;
}

.footer{
    position:relative;
    top:15px;
    width:600px;
    height:50px;
    margin:auto;
    background:white;
    border-radius: 10px; 
}

.language{
    position:relative;
    width:250px;
    height:40px;
    display: table-cell;
    vertical-align:middle;
    left:15px;
    top:5px;
}

select[name="language"]{
    position:relative;
    padding:0px 15px; 
    background:white;
}

.home{
    position:absolute;
    width:40px;
    height:40px;
    float:right;
    right:20px;
    top:0;
}

img[name="home"]{
    position:relative;
    width:50px;
    height:50px;
    display: block;
    margin:auto;
}