/* Below is css of toilanvd */
@charset "utf-8";

.toilanvd_all_body_div{
    width:570px;
    margin:auto;
    /* background:url(../images/logo.jpg) center 8px; */
}

.toilanvd_user_div{
	background:pink;
    margin:auto;
    width:570px;
}

.toilanvd_logo_div{
    float:left;
    width:180px;
}

.toilanvd_logo{
	width:140px;
    background:red no-repeat center right;
}

.toilanvd_login_div{
	float:right;
    width:380px;
}

.toilanvd_language_div{
	text-align:center;
	position:relative;
	top:180px;
}

.toilanvd_border_right{
    border-right:1px solid;
}

